:root {
  background-color: rgb(125, 125, 125);
  --borderRad: 10px;
  --titleBackgroundColor: blue;
  --bodyColor: rgb(200, 200, 200);
  --backgroundColor: rgb(150, 150, 150);
  --foregroundColor: rgb(175, 175, 175);
  --textColor: black;
}
.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: var(--borderRad);
  background-color: var(--bodyColor);
  padding: 1%;
  width: 98%;
  max-width: 40rem;
}
.headerContainer {
  width: 97%;
  height: 5%;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  color: var(--textColor);
  background-color: var(--titleBackgroundColor);;
  border-style: solid;
  border-width: 8px;
  border-color: rgb(50, 50, 50);
  border-radius: var(--borderRad);
}
.title {
  font-size: 50px;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.sectionTitle {
  font-size: 30px;
  margin-top: 0.75%;
  margin-bottom: 0%;
}

.bodyContainer{
  background-color: var(--backgroundColor);
  color: var(--textColor);
  border-radius: var(--borderRad);
  margin-top: 1%;
  padding: 0.25%;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.largeCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: var(--textColor);
  background-color: var(--foregroundColor);
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: var(--borderRad);
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 2%;
}

.dualCardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dualCard {
  display:flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: var(--borderRad);
  padding: 2%;
  width: 45%;
  color: var(--textColor);
  background-color: var(--foregroundColor);
}